@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

a {
 text-decoration: none;
 font-size: 18px;
 color: #E5E7EB
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB; 
    border-radius: 8px;
}