@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    margin: 0;
}

img{
    max-width: 500px;
    border: 8px solid #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
   }

/* Header section */

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

/* Section one */

.one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.about {
    max-width: 500px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.subtext {
    padding: 8px 0;
    margin-bottom: 8px;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB; 
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    padding: 8px 24px;
}

/* Section two */

.two {
    padding: 64px 0px;
}

.infotitle{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.tiles{
    max-width: 200px;
}

.box {
    border: 2px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.text {
    text-align: center;
}

/* Section three */

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    align-self: flex-start;
    margin: 200px 800px;
}

.speaker {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding: 16px;
}

/* Section four */

.four {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    gap: 128px;
    border-radius: 8px;
    margin: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.callsignup {
    background-color: transparent;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 8px 12px;
    border-radius: 8px;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}
