@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

img{
    max-width: 500px;
}

ul {
    display: flex;
    gap: 16px;
}
.one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

a {
 text-decoration: none;
 font-size: 18px;
 color: #E5E7EB;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.subtext {
    padding: 8px 0;
}
.title {
    font-size: 48px;
    font-weight: bolder;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB; 
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
}

.tiles{
    max-width: 200px;
}

.two {
    padding: 64px 0px;
}
.infotitle{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.info {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box {
    border: 2px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    align-self: flex-start;
}

.speaker {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.four {
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}
